* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width: 20%;
    height: 40%;
    background-color: aqua;
    border: 3px solid black;
    /* display: inline-block; */
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;    
    /* justify-content: inherit; */
    /* margin: 20px; */
}

#principal{
    width: 50%;
    height: 500px;
    background-color: gray;
    /* overflow: scroll; */
    display: flex;
    /* flex-direction: column-reverse; */
    flex-direction: column-reverse;
    flex-wrap: wrap;
    /* flex-wrap: wrap; */ /* configurada no flex-flow */
    /* flex-wrap: wrap-reverse; */
    /* flex-wrap: nowrap; */
    /*flex-direction: column-reverse; */ /* configurada no flex-flow */
    /* flex-direction: row-reverse; */
    /* flex-flow: column wrap; */
    /* justify-content:flex-end; */
    justify-content:center;
    align-items:center;
    margin-top: 50px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* p {
    font-size: 24pt;
    display: inline;
}

#span1 {
    font-weight: bold;
    display: block;
    width: 500px;
    height: 150px;
    border: 1px solid black;

} */