* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container{
    border: 1px solid black;
    width: 600px;
    height: 300px;
    background-color: gray;
}

#config{
    border: 1px solid black;
    width: 100%;
    height: 15%;
    background-color: lightpink;
}

#area{
    border: 1px solid black;
    width: 100%;
    height: 75%;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#saida{
    border: 1px solid black;
    width: 100%;
    height: 10%;
    background-color: lightgreen;
}

#btnCriar{
    width: 100px;
    height: 18px;
}

.box{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    /* display: inline-block; */
    margin-right: 10px; 
    color: white;
    background-color: black;
    display: inherit;
    align-items: center;
    justify-content: center;
    font-size: 300%;
}

.boxSorteado{
    width: 120px;
    height: 120px;
    border: 1px solid black;
    /* display: inline-block; */
    margin-right: 10px; 
    color: white;
    background-color: darkgreen;
    display: inherit;
    align-items: center;
    justify-content: center;
    font-size: 300%;
}